@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>
<form action="/Veterinaria/GuardarMascota" method="post">
    <label>Nombre</label>
    <input name="Nombre" />
      <label>Fecha Nacimiento</label>
    <input name="FechaN" type="date" />
   
    <label>Sexo</label>
    <select name="Sexo">
        <option name="">--Elija el Sexo--</option>
        @foreach (var item in ViewBag.Sexo)
        {
            <option value="@item"> @item</option>
        }
    </select>
       <label>Especie</label>
    <select name="Especie">
        <option name="">--Elija la especie--</option>
        @foreach (var item in ViewBag.Especie)
        {
            <option value="@item"> @item</option>
        }
    </select>
    <label>Raza</label>
    <select name="Raza">
        <option name="">--Elija la raza--</option>
        @foreach (var item in ViewBag.Raza)
        {
            <option value="@item"> @item</option>
        }
    </select>
      <label>Tamaño</label>
    <input name="Dimension" />
       <label>Datos particulares</label>
            <textarea name="DatosParticulares" ></textarea>
    
    <button>Guardar</button>
</form>