@{
    ViewData["Title"] = "Index";
}

<a href="/Veterinaria/CrearRegistro?IdMAscota=@ViewBag.IdMascota">Agregar registro</a>
<table class="table">
    <thead>
    <tr>

        <th>Codigo de Registro</th>
        <th>Fecha de Registro</th>
        <th>Descripcion</th>
    

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.CodigoRegistro</td>
            <td>@item.FechaRegistro</td>
            <td>@item.Descripcion</td>
      

        </tr>
    }
    </tbody>
</table>