@{
    ViewData["Title"] = "Index";
}

<a href="/Veterinaria/CrearMascota">Agregar Mascota</a>
<table class="table">
    <thead>
    <tr>

        <th>Nombre</th>
        <th>Fecha Nacimiento</th>
        <th>Sexo</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Dimension</th>
        <th>DatosParticulares</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Nombre</td>
            <td>@item.FechaN</td>
            <td>@item.Sexo</td>
            <td>@item.Especie</td>
            <td>@item.Raza</td>
            <td>@item.Dimension</td>
            <td>@item.DatosParticulares</td>
            <td>
                <a href="/Veterinaria/HistoriasClinicas?IdMascota=@item.Id">Historial clinico</a>
            </td>

        </tr>
    }
    </tbody>
</table>